h2 {
    margin-top: 20px;
}

#sign_in_modal {
    text-align: center;
}

#sign_in_modal input {
padding: 10px;
margin-top: 10px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 4px;
margin-right: 10px;
background-color: #f9f9f9;
cursor: pointer;
transition: border-color 0.3s;
}


.address-group select {
    margin-top: 10px;
}

.txt_basic {
    width: 350px;
}

input[name='u_phone'] {
    width: 140px;
}

#user_zipcode {
    width: 220px;
}

button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.3s;
}



.btn_basic {
    width: 180px;
    margin-bottom: 10px;
}

.btn_basic[type='submit'],
.btn_basic[name='searchid'],
.btn_basic[name='searchpw']{
    margin-top: 10px;
    width: 117px;
}

.txt_basic[name='phone']{
    margin-top: 10px;
    width: 220px;
}

.txt_basic[name='id'],
.txt_basic[name='id_idsearch'],
.txt_basic[name='pw_pwsearch']
{
    margin-top: 10px;
    width: 380px;
    text-align: center;
}

form {
    margin-bottom: 10px;
}